body {
    font-family : Arial;
    font-size : 14px;
}

.page-title {
    font-size:24px; 
	font-weight:bold;
}

.cart-header {
	/*background-color: #0040FF;*/
	background-color: #017CA7;
	color: white;
}
nav.bg-custom  {
	background-color:rgb(192, 172, 146);
	color:black;
}

#offered-img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 250px;
	margin: auto;
}

