body {
    font-family : Arial;
    font-size : 14px;
}

.page-title {
    font-size:24px; 
	font-weight:bold;
}

.cart-header {
	/*background-color: #0040FF;*/
	background-color: #017CA7;
	color: white;
}
nav.bg-custom  {
	background-color:darkcyan;
}

#offered-img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 250px;
	margin: auto;
}
.form-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
  }

